body { background: #2918eb; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-uploader-0 { color: #31eb6a; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #c75980; font-size: 12px; margin-bottom: 5px; }
.block-cart-2 { color: #3365e; font-size: 20px; margin-bottom: 5px; }
.block-metrics-3 { color: #4713d1; font-size: 12px; margin-bottom: 5px; }
.block-email-4 { color: #3c096d; font-size: 14px; margin-bottom: 5px; }